<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006454812188-4ondl685a4vihgfumqt2jqf6j4l7hi5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006454812188-4ondl685a4vihgfumqt2jqf6j4l7hi5p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1006454812188-oqt6g8kh7e39sooeupo7jdbhi8p5pos6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXT-6Teaw4_wyPuPz-j5nEYA8AcLP3jbo</string>
	<key>GCM_SENDER_ID</key>
	<string>1006454812188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supreet.rewardly</string>
	<key>PROJECT_ID</key>
	<string>rewardly-new</string>
	<key>STORAGE_BUCKET</key>
	<string>rewardly-new.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006454812188:ios:1c142a39730a328394f9d9</string>
	<key>DATABASE_URL</key>
	<string>https://rewardly-new-default-rtdb.firebaseio.com</string>
</dict>
</plist>